
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=462545467122188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- .main-content -->
<div class="main-content interna">
	<h1 class="heading">Artigos</h1>

	<div class="col-a">
	<% @posts.each do |post| %>
		<div class="post">
			<p class="date"><%= l post.publish_date %></p>
			<h2><a href="<%= artigo_path(post.slug) %>"><%= post.title %></a></h2>
			<p class="subtitle"><%= post.subtitle %></p>
			<p>
				<%= raw post.body  %>
				<!--
					<a class="read-more" href="<%= artigo_path(post.slug) %>" title="Visualizar o conteúdo completo">leia mais »</a>
				-->
			</p>
			<div class="social">
				<!-- Place this tag where you want the +1 button to render. -->
				<%= compartilhamentos url: artigo_path(post.slug, :only_path => false), title: post.title, minified_url: post.minified_url %>
			</div>
		</div><!-- post -->
		<% end %>

		<%= paginate @posts %>
	</div><!-- .col-a -->

	<div class="col-b">

		<div class="fb-like-box" data-href="http://www.facebook.com/pages/BuzzMonitor/121543868000021" data-width="360" data-height="290" data-show-faces="true" data-stream="false" data-header="true"></div>
		
		<a class="twitter-timeline" href="https://twitter.com/buzz_monitor" data-widget-id="281476025840451584">Tweets de @buzz_monitor</a>
		
		<script type="text/javascript">
			var dias_com_post = <%= raw @dias_com_post.to_json %>;
			var pathname = '/artigos';
		</script>
		<div id="datepicker"></div>

	</div>
</div>
<!-- /.main-content -->