Olá,

Uma nova solicitação de ebook foi enviada por:
Nome: <%= @ebook_user.name %>
Telefone: <%= @ebook_user.phone %>
Empresa: <%= @ebook_user.company %>
Email: <%= @ebook_user.email %>
<% unless @ebook_user.ebook.nil? %>
Ebook: <%= @ebook_user.ebook.titulo %>
<% else %>
<%= t("ebook.first_register")%>
<% end %>
