<div style="display: none;">

			<div id="expert-box">

				<a id="email" href="mailto:atendimento@elife.com.br">atendimento@elife.com.br</a>

				<div id="share-facebook">

					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com/buzzmonitor%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=391485537588224" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>

				</div>

				<div id="share-google-plus">

					<div class="g-plusone" data-size="medium"></div>

				</div>

				<div id="share-twitter">

					<a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt"></a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</div>

			</div>

		</div>