<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="footer-nav">
          <li><a href="<%= root_url %>#know"><%= t("menu.understand").downcase %></a></li>
          <li><a href="<%= root_url %>#ebooks"><%= t("menu.ebook").downcase %></li>
          <li><a href="<%= root_url %>#plans"><%= t("menu.plans").downcase %></a></li>
          <li><%= link_to t("menu.blog").downcase, blog_path %></li>
          <li><%= link_to t("menu.press").downcase, imprensa_path %></li>
        </ul>
        <div class="social"><a href="https://www.facebook.com/buzzmonitor" target="_blank" class="fb">Facebook</a><a href="https://twitter.com/buzz_monitor" target="_blank" class="tw">Twitter</a><a href="https://www.youtube.com/Buzzmonitor" target="_blank" class="yt">YouTube</a><a href="http://pt.slideshare.net/Elife2009" target="_blank" class="ss">Slideshare</a></div>
      
      
        <%= form_tag submit_newsletter_path, remote: true, :class => 'news-form'  do  %>
          <fieldset>
            <label for="news-email"><%= t("newsletter.subscribe_to_our_newsletter")%></label>
            <%= text_field(:newsletter, :email, :id => "news-email", :placeholder => t("newsletter.insert_your_email")) %>
            <%= submit_tag "ok", disable_with: t('helpers.submit.waiting') %>
          </fieldset>
        <% end %>
        
      </div>
      <div class="col-md-3"><a href="http://elife.com.br" class="elife">e.life group</a><a href="http://casulloweb.com.br" target="_blank" rel="co-worker" title="Casullo Agência Digital" class="casullo">Casullo Agência Digital</a></div>
    </div>
  </div>
</footer>

