
<head>

  <% if !@testeab.nil? && Rails.env.production? %>
    <%= render 'partials/testeab' %>
  <% end %>


  <title><%= @title.nil? ? 'Buzzmonitor, monitorização de redes sociais.' : @title %></title>
  <meta property="description" content="Buzzmonitor: a ferramenta de segunda geração para monitorização de redes sociais, social crm e social analytics."/>
  <meta name="keywords" content="monitoração de mídias sociais, monitorização de mídias socias, big data, big insights">
  <meta name="distribution" content="web">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Buzzmonitor: a ferramenta de segunda geração para monitorização de redes sociais, social crm e social analytics."/>
  <meta http-equiv="Cache-control" content="public">


  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Buzzmonitor">

  <link href="/assets/favicon_tammy_16x16.png" rel="shortcut icon">
  <link href="/assets/favicon_tammy_32x32.png" rel="apple-touch-icon">

<% unless @post.nil? %>

  <meta property="og:title" content="<%= @post.title.to_s %>"/>
  <meta property="og:site_name" content="Buzzmonitor"/>
  <meta property="og:description" content="<%= @post.subtitle.to_s %>" />
  <meta property="og:image" content="<%= @post.cover.url(:home).to_s %>"/>

<% else %>

  <meta property="og:title" content="<%= @title.nil? ? 'Buzzmonitor, monitorização de redes sociais.' : @title %>"/>
  <meta property="og:site_name" content="Buzzmonitor"/>
  <meta property="og:description" content="Buzzmonitor, uma ferramenta muito mais inteligente para monitorar as redes sociais."/>
  <meta property="og:image" content="<%= root_url + 'assets/buzzmonitor.png' %>"/>


<% end %>

  <!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/ 
  window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]}); 
  /* custom configuration goes here (www.olark.com/documentation) */ 
  olark.identify('2421-258-10-5310');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/2421-258-10-5310/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript><!-- end olark code -->

  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <script type="text/javascript">
    var recaptcha_public_key = '<%= Rails.application.config.recaptcha_public_key %>'
  </script>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

   

    <%= auto_discovery_link_tag(:rss, blog_url(:format => :rss)) %>
    <%= auto_discovery_link_tag(:rss, imprensa_url(:format => :rss)) %>


    <% if current_page?(controller: 'ebooks', action: 'thankyou', slug: 'social-crm-estrategico') %>
      <!-- Facebook Conversion Code for Cadastros para Download de E-books Buzzmonitor -->
      <script>(function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
        }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6017390962765', {'value':'0.00','currency':'BRL'}]);
      </script>
      <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6017390962765&amp;cd[value]=0.00&amp;cd[currency]=BRL&amp;noscript=1" /></noscript>
    <% end %>


    <% if !@ebook.try(:slug).nil? && current_page?(controller: 'ebooks', action: 'thankyou', slug: @ebook.slug ) %>
      <%= raw @ebook.script unless @ebook.script.blank? %>
    <% end %>

    <%= render 'partials/facebook_pixel' %>
    <%= render 'partials/google_analytics' %>
</head>