<div class="login-container">
      <div id="login-box" class="login-box">
        <div class="toppy">
          <h2>Login</h2>
        </div>
        <form action="https://app.buzzmonitor.com.br/user/session/" method="post" name="form-login">
          <fieldset>
            <div class="signup"><a href="https://app.buzzmonitor.com.br/user/session/new?provider=facebook" class="signfb">Entre com o Facebook  </a><a href="https://app.buzzmonitor.com.br/user/session/new?provider=twitter" class="signtw">Entre com o Twitter </a><span>ou</span></div>
            <div>
              <label for="username"> <span>Username</span></label>
              <input id="username" type="text" name="username" placeholder="E-mail">
            </div>
            <div>
              <label for="password">Senha</label>
              <input id="password" type="password" name="password" placeholder="Senha">
              <button title="Entrar" class="button">Login</button>
              <p><a href="https://app.buzzmonitor.com.br/user/signup/new" title="Cadastre-se com o email" class="pull-left">Cadastre-se!</a><a href="https://app.buzzmonitor.com.br/user/recoveries/new" title="Clique para receber instruções de como recuperar sua senha" class="pull-right">Esqueceu a senha?</a></p><a href="<%= root_url %>#plans" class="plans"><strong>+</strong> Planos</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>