<header>
  <nav class="navbar affix">
    <div class="navbar-header"><a href="<%= root_url %>" class="navbar-brand">Buzzmonitor</a>
      <ul class="nav visible-md visible-lg">
        <li><a href="<%= root_url %>#know"><%= t("menu.understand") %></a></li>
        <li><a href="<%= root_url %>#ebooks"><%= t("menu.ebook") %></li>
        <li><a href="<%= root_url %>#plans"><%= t("menu.plans") %></a></li>
        <li><%= link_to t("menu.blog"), blog_path %></li>
      </ul>
      <div class="control-links">
        <div class="dropdown visible-xs visible-sm"><a href="#" data-toggle="dropdown" class="toggle-menu">Menu</a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="<%= root_url %>#know"><%= t("menu.understand") %></a></li>
            <li><a href="<%= root_url %>#ebooks"><%= t("menu.ebook") %></a></li>
            <li><a href="<%= root_url %>#plans"><%= t("menu.plans") %></a></li>
            <li><%= link_to t("menu.blog"), blog_path %></li>
            <li><a href="<%= root_url %>#proposal"><%= t("menu.proposal") %></a></li>
          </ul>
        </div><a href="<%= root_url %>#proposal" class="hidden-xs hidden-sm proposal"><%= t("menu.proposal") %></a><a href="#login-box" class="login">Login</a>
      </div>
    </div>
  </nav>
</header>