
 <%- model_class = Proposal -%>
 <%= form_for @proposal, :url => submit_proposal_url, remote: true ,:html => {:class => "form-validate-proposal"} do |f| %>
      <%= hidden_field_tag :proposal_origin, nil %> 

      <fieldset>
        <div class="form-group">
          <%= f.label :name, class: 'text-hide' %>
          <%= f.text_field :name,  :class => '', required: true, placeholder:  model_class.human_attribute_name(:name) %>
        </div>
        <div class="form-group">
          <%= f.label :company_name, class: 'text-hide' %>
          <%= f.text_field :company_name,  :class => '', required: true, placeholder:  model_class.human_attribute_name(:company_name) %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number, class: 'text-hide' %>
          <%= f.text_field :phone_number,  :class => 'telefone', required: true, placeholder:  model_class.human_attribute_name(:phone_number) %>
        </div>
        <div class="form-group">
          <%= f.label :email_address, class: 'text-hide' %>
          <%= f.text_field :email_address,  :class => 'email', required: true, placeholder:  model_class.human_attribute_name(:email_address) %>
        </div>
        <div class="checkbox">
          <label> 
           <%= f.check_box :newsletter, :checked => "checked" %> <%= model_class.human_attribute_name(:accept_proposal) %>
          </label>
        </div>
        <% unless !@proposal_verify_robot %>
          <%= render "partials/recaptcha" %>                  
        <% end %> 
        <%= f.submit t("proposal.submit_button"), class: "btn-send", disable_with: t('helpers.submit.waiting') %> 
      </fieldset>
    <% end -%>
