 <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<div id="general-captcha" class="recaptcha_widget">
 <div class="container-captcha" id="recaptcha_widget_general">
   <div class="imagem" id="recaptcha_image">
   </div>
   <div class="recaptcha_input">
     <label for="recaptcha_response_field" class="recaptcha_only_if_image"><%= t "recaptcha.recaptcha_only_if_image" %>:</label>
     <label for="recaptcha_response_field" class="recaptcha_only_if_audio"><%= t "recaptcha.recaptcha_only_if_audio" %>:</label>
     <input id="recaptcha_response_field" type="text" name="recaptcha_response_field">
   </div>
    <ul class="recaptcha_options">
     <li><a href="javascript:Recaptcha.reload()"><i class="glyphicon glyphicon-refresh"></i><span class="captcha_hide">Outro CAPTCHA</span></a></li>
     <li class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="glyphicon glyphicon-volume-up"></i><span class="captcha_hide">CAPTCHA com audio</span></a></li>
     <li class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="glyphicon glyphicon-picture"></i><span class="captcha_hide">CAPTCHA com imagem</span></a></li>
     <li><a href="javascript:Recaptcha.showhelp()"><i class="glyphicon glyphicon-question-sign"></i><span class="captcha_hide">Ajuda</span></a></li>
   </ul>
 </div>
</div>