<% if @user.errors.any? %>
   <% @user.errors.full_messages.each do |msg| %>
     $('.notifications').notify({
          type: 'notify',
          message: { text: "<%= j msg %>" },
          closable: false,
          fadeOut: {enabled: true, delay: 3000}
      }).show();
   <% end %>
<% else %>

       var email = $("#new_user").find("#user_email").val();
       var password = $("#new_user").find("#user_password").val();
       var password_confirmation = $("#new_user").find("#user_password_confirmation").val();

    
       $.ajax({
           url : "<%=  j ENV['app_sign_up'] %>",
           type: "POST",
           data : {email: email, password: password, password_confirmation: password_confirmation, lang: 'en' },
           success:function(data, textStatus, jqXHR) 
           {
              <% if flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>

                $('.notifications').notify({
                   type: 'notify',
                   message: { text: "<%= j flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>" },
                   closable: false,
                   fadeOut: {enabled: true, delay: 3000}
                }).show();
                    
              <% end %>

              
              $("#username").val(email);
              $("#password").val(password);
              $("#login-button").trigger( "click" );

           },
           error: function(jqXHR, textStatus, errorThrown) 
           {

               response = jQuery.parseJSON(jqXHR.responseText)
               $('.notifications').notify({
                 type: 'notify',
                 message: { text: response.error },
                 closable: false,
                 fadeOut: {enabled: true, delay: 3000}
               }).show();

               $("#submit-signup").val("<%= j t('user.submit_button') %>");
           }
       });

  <% end %>

$('#signup-form').html('<%= j render "pages/signup" %>');

load();

