
  <% unless cookies[:ebook_user].blank?  %>

    <% Ebook.all.each do |ebook| %>
        <%= link_to download_ebooks_path(ebook.slug), remote: @remote_ebook, :target => "_blank", :class => "link-ebook "  do %>
          <%= image_tag ebook.imagem.url(:medium), :alt => ebook.titulo %>
        <% end %>
    <% end %> 

  <% else %>

    <% Ebook.all.each do |ebook| %>
        <%= link_to download_ebooks_path(ebook.slug), remote: @remote_ebook, :target => "_blank", :class => "link-ebook "  do %>
          <%= image_tag ebook.imagem.url(:medium), :alt => ebook.titulo %>
        <% end %>
    <% end %> 

  <% end %>  

</div>