 <section id="know" class="know">
      <div class="container">
        <h2 class="section-title">Conheça o <strong>Buzzmonitor</strong></h2>
        <p class="section-excerpt">O primeiro da sua categoria que permite criar combinações ilimitadas de relatórios e integra quatro funcionalidades numa só plataforma.</p>
        <div class="row">
          <div class="col-sm-3">
            <div class="size">
              <div class="icon-container"><img src="/assets/icons/monitoring.png" data-bottom-top="transform:rotate(-80deg)" data-center-top="transform:rotate(0deg)" alt="Imagem de uma lupa amarela"></div>
              <h4>Monitorização</h4>
              <p>Monitorize a sua marca nas redes sociais. Use o nosso exclusivo Report Engine para criar relatórios customizados para os seus projetos.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="size">
              <div class="icon-container"><img src="/assets/icons/analytics.png" data-bottom-top="transform:scaleY(0); transform-origin: 50% 90%" data-center-top="transform:scaleY(1); transform-origin: 50% 90%" alt="Imagem de barras verticais de tamanhos variados"></div>
              <h4>Social Analytics</h4>
              <p>Faça análises comparativas da performance da sua marca e concorrentes em canais próprios de Facebook, YouTube e Twitter.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="size">
              <div class="icon-container dummys"><img src="/assets/icons/dummy-white.png" data--50-bottom="transform:rotate(-30deg)" data--350-bottom="transform:rotate(30deg)" data-200-top="transform:rotate(0deg)" alt="Imagem de pequeno boneco branco" class="third"><img src="/assets/icons/dummy-white.png" data--50-bottom="transform:rotate(-30deg)" data--350-bottom="transform:rotate(30deg)" data-200-top="transform:rotate(0deg)" alt="Imagem de pequeno boneco branco" class="second"><img src="/assets/icons/dummy-yellow.png" data--50-bottom="transform:rotate(-30deg)" data--350-bottom="transform:rotate(30deg)" data-200-top="transform:rotate(0deg)" alt="Imagem de boneco amarelo" class="first"></div>
              <h4>Social CRM</h4>
              <p>Responda aos seus fãs e seguidores no Facebook e Twitter, classifique conversas e obtenha relatórios sobre essas interações.</p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="size">
              <div class="icon-container folder"><img src="/assets/icons/folder-white.png" data-bottom-top="top:37px;" data-center-top="top[WTF]:15px" alt="Imagem de pastas de arquivos em sequência" class="third"><img src="/assets/icons/folder-white.png" data-bottom-top="top:37px;" data-center-top="top[WTF]:25px" alt="Imagem de pastas de arquivos em sequência" class="second"><img src="/assets/icons/folder-yellow.png" alt="Imagem de pastas de arquivos em sequência" class="first"></div>
              <h4>Dados Históricos</h4>
              <p>Tenha acesso ao histórico de posts dos utilizadores e saiba que marcas é que já mencionaram nas redes sociais. Faça buscas retroativas, a partir de 2006, no Twitter.</p>
            </div>
          </div>
        </div>
      </div>
    </section>