
 <section id="plans" class="plans">
      <div class="container">
        <h2 class="section-title">Conheça os nossos <strong>Planos</strong></h2>
        <div class="grid hidden-xs container">
          <div class="item-row"><i class="star"></i></div>
          <div class="item-row"><i class="tag"></i></div>
          <div class="item-row"><i class="people"></i></div>
          <div class="item-row"><i class="chat"></i></div>
          <div class="item-row"><i class="manager"></i></div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-1">
            <div class="plan">
              <h3>Freemium</h3>
              <h2>Use grátis</h2>
              <ul>
                <li><strong>Todas</strong> as funcionalidades</li>
                <li><strong>3</strong> marcas</li>
                <li>Limitado a <strong>1</strong> utilizador</li>
                <li><strong>200</strong> posts por mês</li>
                <li><strong>-</strong></li>
              </ul><a href="https://app.buzzmonitor.com.br/user/signup/new" class="btn" target="_blank"><span>Use grátis</span></a>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="plan">
              <h3>Saas</h3><small>Pacote mínimo</small>
              <h2 class="value">390<small><strong>€</strong></small><small>/ por mês</small></h2>
              <ul>
                <li><strong>Todas</strong> as funcionalidades</li>
                <li><strong>3</strong> marcas</li>
                <li><strong>3</strong> utilizadores</li>
                <li><strong>5.000</strong> posts por mês</li>
                <li><strong>Setup</strong></li>
              </ul><a href="#proposal" class="btn plan-to-proposal" data-type="saas"><span>PEÇA A SUA PROPOSTA</span></a>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <div class="plan">
              <h3>SAAS PRO          </h3>
              <h2 class="value">590<small><strong>€</strong></small><small>/ por mês</small></h2>
              <ul>
                <li><strong>Todas</strong> as funcionalidades</li>
                <li><strong>9</strong> marcas</li>
                <li><strong>9</strong> utilizadores</li>
                <li><strong>15.000</strong> posts por mês</li>
                <li><strong>Setup</strong></li>
              </ul><a href="#proposal" class="btn  plan-to-proposal" data-type="saas-pro"><span>PEÇA A SUA PROPOSTA</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
      <section class="services">
      <div class="container">
        <h2 class="section-title">SERVIÇOS <strong>CORPORATE</strong> </h2>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <div class="serv">
              <h3>Hibrid</h3><small>Preços mínimos</small>
              <h2 class="value">890<small><strong>€</strong></small><small>/ por mês</small></h2>
              <p>Análise humana com classificação de depoimentos por assunto (até 8 assuntos) e por sentimento</p>
              <ul>
                <li class="item-row"><i class="star"></i><strong>Todas</strong> as funcionalidades</li>
                <li class="item-row"><i class="tag"></i><strong>3</strong> marcas</li>
                <li class="item-row"><i class="people"></i><strong>9</strong> utilizadores</li>
                <li class="item-row"><i class="chat"></i><strong>5.000</strong> posts por mês</li>
                <li class="item-row"><i class="manager"></i><strong>Setup</strong></li>
              </ul><a href="#proposal" class="btn  plan-to-proposal" data-type="corporate"><span>PEÇA A SUA PROPOSTA</span></a>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="serv">
              <h3>Corporate plus          </h3>
              <h2 class="value"><small>A partir de</small>1500<small> <strong>€</strong>/ por mês</small></h2>
              <p>Análise humana com classificação de depoimentos por assunto e por sentimento, e-mail alerts e reports</p>
              <ul>
                <li><strong>Análise</strong> humana</li>
                <li><strong>Reporting</strong> à medida - diário, semanal ou mensal</li>
                <li><strong>Reports</strong> especiais</li>
                <li><strong>E-mail alerts</strong> com análise humana</li>
                <li><strong>Setup</strong></li>
              </ul><a href="#proposal" class="btn plan-to-proposal" data-type="corporate-plus"><span>PEÇA A SUA PROPOSTA</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>