<section id="proposal" class="proposal">
      <div class="container">
        <h2 class="section-title">Peça a sua <strong>Proposta</strong></h2>
        <div class="row">
          <div class="col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-2">
            <p>PEÇA SUA PROPOSTA À E.LIFE - EMPRESA LÍDER EM MONITORIZAÇÃO E GESTÃO DE RELACIONAMENTO NAS REDES SOCIAIS</p>
          </div>
          <div class="col-sm-5 col-md-4">

           <%= render 'partials/proposal' %>
           
          </div>
        </div>
        <p class="call">Ou se preferir, ligue para  <strong>+351 934 698 665</strong></p>
      </div>
    </section>