<div id="signup-form" class="signup">

<a href="https://app.buzzmonitor.com.br/user/session/new?provider=facebook" class="signfb">Entre com o Facebook  </a>
<a href="https://app.buzzmonitor.com.br/user/session/new?provider=twitter" class="signtw">Entre com o Twitter </a><span>ou        </span>


<%- model_class = User -%>
<%= form_for @user, :url => submit_signup_url, remote: true ,:html => {:class => "form-validate"} do |f| %>
  
  <fieldset>
    <div class="form-group">
      <%= f.label :email, class: 'text-hide' %>
      <%= f.text_field :email,  :class => 'email', required: true, placeholder:  model_class.human_attribute_name(:email) %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'text-hide' %>
      <%= f.password_field :password,  :class => '', required: true, placeholder:  model_class.human_attribute_name(:password) %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: 'text-hide' %>
      <%= f.password_field :password_confirmation,  :class => '', required: true, placeholder:  model_class.human_attribute_name(:password_confirmation) %>
    </div>
    <% unless !@user_verify_robot %>
      <%= render "partials/recaptcha" %>                  
    <% end %> 
    <%= f.submit t('user.submit_button'), class: "free", disable_with: t('helpers.submit.waiting') %> 
  </fieldset>
<% end %>
</div>

