    <section class="notfound">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6">
            <div class="error-tami"></div>
          </div>
          <div class="col-md-5 col-sm-6">
            <h1>Página não encontrada</h1>
            <p>Verifique se a URL foi digitada corretamente ou volte para a <a href="<%= root_url%>">HOME</a></p>
          </div>
        </div>
      </div>
    </section>