    <section class="wide-video intro">
      <div class="background-video">
        <video autoplay loop class="bgvid">
          <source src="https://s3.amazonaws.com/bm3blog/videos/video.mp4" type="video/mp4">
        </video>
      </div>
      <div class="container">
        <%= render 'partials/menu_top' %>

        <div class="row">
          <div class="col-sm-5">
            <h1>A nova geração de monitoramento das <strong>Redes Sociais</strong></h1>
            <p class="hidden-xs">Monitoramento, Social CRM e Social Analytics <strong>com mais de 1 bilhão de dados históricos</strong></p>
          </div>
          <div class="col-sm-2"><a href="http://www.youtube.com/embed/EqPxZi5fOGQ?autoplay=1&amp;rel=0" class="play fancybox-media">video</a></div>
          <div class="col-sm-4">
            <%= render 'signup' %>
          </div>
        </div>

        <div class="bookmarks">
          <div class="proposal"><a href="#proposal">Peça <strong>a sua proposta</strong></a></div>
          <div class="social"><a href="https://www.facebook.com/buzzmonitor" class="fb">Facebook</a><a href="https://twitter.com/buzz_monitor" class="tw">Twitter</a><a href="https://www.youtube.com/Buzzmonitor" class="yt">YouTube</a><a href="http://pt.slideshare.net/Elife2009" class="ss">Slideshare</a></div>
        </div>
      </div>
    </section>
    
    <%= render 'know' %>
    
    <section id="ebooks" class="ebooks-b">
      <div class="container">
        <h2 class="section-title"> <strong>E.books</strong></h2>
        <h3 class="section-subtitle">Registe-se e faça <span>Download gratuito</span></h3>
        <div class="row">
          <div id="ebook-form">
            <%= render 'ebooks/register' %>
          </div>
          
        </div>
        
         <div id="dg-container" class="dg-container">
           <div class="dg-wrapper">
           <% Ebook.all.each do |ebook| %>
             <%= link_to download_ebooks_path(ebook.slug), remote: @remote_ebook, :target => "_blank", :class => "link-ebook" do %>
                <%= image_tag ebook.imagem.url(:medium), :alt => ebook.titulo %>
             <% end %>
           <% end %> 
           </div>
          <nav><span class="dg-prev"></span><span class="dg-next"></span></nav>
        </div>
      </div>

    </section>

   <%= render 'plans' %>

    <section id="proposal" class="proposal proposal-b">
      <div class="container">
        <h2 class="section-title">Peça a sua <strong>Proposta</strong></h2>
        <div class="row">
          <div class="col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-2">
            <p>PEÇA SUA PROPOSTA À E.LIFE - EMPRESA LÍDER EM MONITORIZAÇÃO E GESTÃO DE RELACIONAMENTO NAS REDES SOCIAIS</p>
          </div>
          <div class="col-sm-5 col-md-4">
            <div id="proposal-form">
              <%= render 'partials/proposal' %>
            </div>
          </div>
          <p class="call-b">Ou se preferir, ligue para  <strong>+351 934 698 665</strong></p>
        </div>
      </div>
    </section>
   <div class="section clients-b">
      <div class="container">
        <h2 class="section-title">Quem usa o <strong>Buzzmonitor</strong></h2>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2"><img src="/assets/others/sonae.png" alt="Sonae" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/continente.png" alt="Continente" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/nestle.png" alt="Nestlé" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/galp.png" alt="Galp" class="img-responsive"></div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2"><img src="/assets/others/phillip-morris.png" alt="Phillip Morris" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/globo.png" alt="Globo" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/ikea.png" alt="IKEA" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/worten.png" alt="Worten" class="img-responsive"></div>
        </div>
      </div>
    </div>

