
    <section data-speed="3" data-type="background" class="intro">
      <div class="container">
       
        <%= render 'partials/menu_top' %>

        <div class="row">
          <div class="col-sm-7">
            <h1>A nova geração de monitorização das <strong>Redes Sociais</strong></h1>
            <p class="hidden-xs">Monitoring, Social Analytics e Social CRM com mais de mil milhões de dados históricos.</p>
          </div>
          <div class="col-sm-4">
            <%= render 'signup' %>
          </div>
        </div>

        <div class="bookmarks">
          <div class="proposal"><a href="#proposal">Peça <strong>a sua proposta</strong></a></div>
          <div class="social"><a href="https://www.facebook.com/buzzmonitor" target="_blank" class="fb">Facebook</a><a href="https://twitter.com/buzz_monitor" target="_blank" class="tw">Twitter</a><a href="https://www.youtube.com/Buzzmonitor" target="_blank" class="yt">YouTube</a><a href="http://pt.slideshare.net/Elife2009" target="_blank" class="ss">Slideshare</a></div>
        </div>
      </div>
    </section>
    
    <%= render 'know' %>

    <section id="ebooks" class="ebooks">
      <div class="container">
        <h2 class="section-title"> <strong>E.books</strong></h2>
        <h3 class="section-subtitle">Registe-se e faça <span>Download gratuito</span></h3>
        <div class="row">
           <div id="ebook-form">
            <%= render 'ebooks/register' %>
          </div>
        </div>
       
        <div class="row">
          <div class="col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1">
            <div class="slick">
              <% Ebook.all.each do |ebook| %>
                <div class="slick-slide">
                  
                  <%= link_to download_ebooks_path(ebook.slug), remote: @remote_ebook, :target => "_blank", :class => "link-ebook"  do %>
                    <%= image_tag ebook.imagem.url(:medium), :alt => ebook.titulo %>
                  <% end %>
                </div>
              <% end %> 
            </div>
          </div>
        </div>
      </div>
    </section>
   
    <%= render 'plans' %>
   
    <section id="proposal" class="proposal">
      <div class="container">
        <h2 class="section-title">Peça a sua <strong>Proposta</strong></h2>
        <div class="row">
          <div class="col-sm-5 col-md-4 col-sm-offset-1 col-md-offset-2">
            <p>PEÇA SUA PROPOSTA À E.LIFE - EMPRESA LÍDER EM MONITORIZAÇÃO E GESTÃO DE RELACIONAMENTO NAS REDES SOCIAIS</p>
          </div>
          <div class="col-sm-5 col-md-4">

           <%= render 'partials/proposal' %>
           
          </div>
        </div>
        <p class="call">Ou se preferir, ligue para  <strong>+351 934 698 665</strong></p>
      </div>
    </section>

    <div class="section clients">
      <div class="container">
        <h2 class="section-title">Quem usa o <strong>Buzzmonitor</strong></h2>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2"><img src="/assets/others/sonae.png" alt="Sonae" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/continente.png" alt="Continente" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/nestle.png" alt="Nestlé" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/galp.png" alt="Galp" class="img-responsive"></div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-2"><img src="/assets/others/phillip-morris.png" alt="Phillip Morris" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/globo.png" alt="Globo" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/ikea.png" alt="IKEA" class="img-responsive"></div>
          <div class="col-xs-6 col-sm-3 col-md-2"><img src="/assets/others/worten.png" alt="Worten" class="img-responsive"></div>
        </div>
      </div>
    </div>
  