<%= render 'partials/menu_top_internal' %>

<section class="internal">
  <div class="container">
    <h1 class="heading">Proposta</h1>
    <div class="post proposal">
      <div class="row">
        <div class="col-md-6 col-sm-7">
          <div class="judo-tami"></div>
        </div>
        <div class="col-md-6 col-sm-4">
          <div class="content-thanks">
            <h2>PEDIDO ENVIADO COM SUCESSO!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>