$( document ).ready(function(){
  
  <% if @newsletter.errors.any? %>
     <% @newsletter.errors.full_messages.each do |msg| %>

       $('.notifications').notify({
            type: 'notify',
            message: { text: "<%= j msg %>" },
            closable: false,
            fadeOut: {enabled: true, delay: 3000}
        }).show();

     <% end %>
  <% end %>
  <% if flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>

        $('.notifications').notify({
           type: 'notify',
           message: { text: "<%= j flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>" },
           closable: false,
           fadeOut: {enabled: true, delay: 3000}
        }).show();
        
  <% end %>

  $("#news-email").val("");

});