$( document ).ready(function(){

  <% if @proposal.errors.any? %>
     <% @proposal.errors.full_messages.each do |msg| %>
       
           $('.notifications').notify({
               type: 'notify',
               message: { text: "<%= j msg %>" },
               closable: false,
               fadeOut: {enabled: true, delay: 3000}
           }).show();

     <% end %>
     Recaptcha.reload();

  <% else %>

     <% if flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>

           $('.notifications').notify({
               type: 'notify',
               message: { text: "<%= j flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>" },
               closable: false,
               fadeOut: {enabled: true, delay: 3000}
           }).show();

     <% end %>
     $('#proposal-form').html('<%= j render "partials/proposal" %>');
     proposal_captcha();

     window.location.replace("<%= proposal_tks_url %>");
     
  <% end %>
  
});




