<div class="popular">
    <h2>Artigos <strong>+ populares</strong></h2>
    <ul>
      <% @ranking.each do |post| %>
      <li><%= link_to post.title, show_blog_path(post.slug)%></li>
      <% end %>
    </ul>
  </div>



  <div id="calendar" class="responsive-calendar">
    <div class="controls"><a data-go="prev" class="pull-left"><i class="glyphicon glyphicon-circle-arrow-left"></i></a>
      <h4><span data-head-month></span><span data-head-year></span></h4><a data-go="next" class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
    </div>
    <div class="day-headers">
      <div class="day header">Dom</div>
      <div class="day header">Seg</div>
      <div class="day header">Ter</div>
      <div class="day header">Qua</div>
      <div class="day header">Qui</div>
      <div class="day header">Sex</div>
      <div class="day header">Sab</div>
    </div>
    <div data-group="days" class="days"></div>
  </div>
</div>



<script type="text/javascript">
  
  $( document ).ready(function(){


  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth() + 1;
  var y = date.getFullYear();

  $(".responsive-calendar").responsiveCalendar({
    time: y +'-'+ m,
    translateMonths: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
    allRows : false,
      events: {
        <% @dias_com_post.each do |data| %>
        "<%= data.strftime('%Y-%m-%d')%>": {"class": "active special", "url": "<%= root_url %>blog?date=<%= data.strftime('%Y-%m-%d')%>"},
        <% end %>
      }
    });

  });


</script>

