<%= render 'partials/menu_top_internal' %>

<section class="internal">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="heading">Blog</h1>
            <% @posts.each do |post| %>

            <div class="post">

            	<span class="post-date"><%= l post.publish_date %></span>
            	<span class="reading-time">Tempo estimado de leitura <%= ActionView::Base.full_sanitizer.sanitize(post.body).reading_time %> <i class="glyphicon glyphicon-time"></i></span>
             
            	<h2 class="post-heading">
            		<%= link_to post.title, show_blog_path(post.slug)%>
            	</h2>
              <h3 class="sub-heading">
                <%= post.subtitle %>
              </h3>

              <%=  raw post.body.split('</p>')[0] + "</p>" %> <%= link_to "Leia mais", show_blog_path(post.slug) %>

              <div class="share">
                <%= compartilhamentos url: show_blog_path(post.slug, :only_path => false), title: post.title, minified_url: post.minified_url %>
              </div>
            </div>

            <% end %>

            
            <div class="text-center">
            	<%= paginate @posts %>
            </div>
          </div>
          <div class="col-md-4">
            <%= render 'sidebar' %>
        </div>
      </div>
    </section>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=462545467122188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
