<%= render 'partials/menu_top_internal' %>

<section class="internal">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="heading interna">Imprensa</h1>
          
          	<div class="back"><span class="line"></span><%= link_to 'Voltar', imprensa_path %></div>

            <div class="post">

            	<span class="post-date"><%= l @post.publish_date %></span>
            	<span class="reading-time">Tempo estimado de leitura <%= ActionView::Base.full_sanitizer.sanitize(@post.body).reading_time %> <i class="glyphicon glyphicon-time"></i></span>
             
            	<h2 class="post-heading">
            		<%= link_to @post.title, show_imprensa_path(@post.slug)%>
            	</h2>

              <h3 class="sub-heading">
                <%= @post.subtitle %>
              </h3>

            	<%=	raw @post.body %>

              <div class="share">
                <%= compartilhamentos url: show_imprensa_path(@post.slug, :only_path => false), title: @post.title, minified_url: @post.minified_url %>
              </div>
              <div class="free"><a href="https://app.buzzmonitor.com.br/user/signup/new" target="_blank">Use grátis</a></div>
            </div>

         
            
            <div class="text-center">
            	<%= paginate @posts %>
            </div>
          </div>
          <div class="col-md-4">
            <%= render 'sidebar' %>
        </div>
      </div>
    </section>



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=462545467122188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
