/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require screen.css
 */

.line-b .main-content .reasons h2 .reason {
	font-size: 43px !important;
}

.pagination-gap {
	display: block;
	background-color: white;
	color: #858585;
	font-weight: bold;
	font-size: 30px;
	padding: 8px 0;
	width: 37px;
}