<% if cookies[:ebook_user].blank?  %>

  <%- model_class = EbookUser -%>
  <%= form_for(@ebook_user, :url => ebook_register_url, remote: true, :html => { :class => 'ebooks-form validate-form'} ) do |f| %>
   
    <fieldset>
      <div class="col-sm-<%= @ebook_verify_robot ? 4 : 6 %>">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, id: 'name', class: '', placeholder: model_class.human_attribute_name(:name) %>
        </div>
        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company, id: 'company', class: '', placeholder: model_class.human_attribute_name(:company) %>
        </div>
      </div>
      <div class="col-sm-<%= @ebook_verify_robot ? 4 : 6 %>">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, id: 'email', class: 'required', placeholder: model_class.human_attribute_name(:email)  %>
        </div>
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, id: 'phone', class: '', placeholder: model_class.human_attribute_name(:phone) %>
        </div>
        <div class="checkbox-inline">
          <label for="news"><%= f.check_box :accept_newsletter, :id => 'accept', :checked => true  %><%= model_class.human_attribute_name(:accept_newsletter) %></label>
        </div>
      <!--   <div class="checkbox-inline">
          <label for="proposta"><%= f.check_box :accept_proposal, :id => 'accept', :checked => true  %><%= model_class.human_attribute_name(:accept_proposal) %></label>
        </div> -->
      </div>
      <% unless !@ebook_verify_robot %>
      <div class="col-sm-4">
         
           <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
            <div id="ebook-captcha" class="recaptcha_widget">
              <div class="container-captcha" id="recaptcha_widget_ebook">
                <div class="imagem" id="recaptcha_image">
                </div>
                <div class="recaptcha_input">
                  <label for="recaptcha_response_field" class="recaptcha_only_if_image"><%= t "recaptcha.recaptcha_only_if_image" %>:</label>
                  <label for="recaptcha_response_field" class="recaptcha_only_if_audio"><%= t "recaptcha.recaptcha_only_if_audio" %>:</label>
                  <input id="recaptcha_response_field" type="text" name="recaptcha_response_field">
                </div>
                 <ul class="recaptcha_options">
                  <li><a href="javascript:Recaptcha.reload()"><i class="glyphicon glyphicon-refresh"></i><span class="captcha_hide">Outro CAPTCHA</span></a></li>
                  <li class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="glyphicon glyphicon-volume-up"></i><span class="captcha_hide">CAPTCHA com audio</span></a></li>
                  <li class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="glyphicon glyphicon-picture"></i><span class="captcha_hide">CAPTCHA com imagem</span></a></li>
                  <li><a href="javascript:Recaptcha.showhelp()"><i class="glyphicon glyphicon-question-sign"></i><span class="captcha_hide">Ajuda</span></a></li>
                </ul>
              </div>
            </div>
      </div>
       <% end %>
      <div class="col-sm-2 col-sm-offset-5">
        <%= f.submit t('ebook.register_button'), disable_with: t('helpers.submit.waiting') %> 
      </div>
    </fieldset>
  <% end %>

<% end %>
