<%= render 'partials/menu_top_internal' %>

<%- model_class = EbookUser -%>
<section class="internal">
      <div class="container">
        <h1 class="heading">E-books</h1>
        <div class="post ebook"><span class="post-date"><%= l @ebook.data unless @ebook.data.nil? %></span>
          <div class="row">
            <div class="col-md-3 col-sm-4">
                <img src="<%= @ebook.imagem.url %>" class="img-responsive">
                
                <%= render 'download' unless cookies[:ebook_user].blank? %>

            </div>
            <div class="col-md-<%= cookies[:ebook_user].blank? ? 4 : 8  %> col-sm-7">
              <h2><%= @ebook.titulo %></h2>
              <p><%= raw @ebook.texto %></p>
            </div>

            <% if cookies[:ebook_user].blank?  %>
            
                <div class="col-md-4 col-md-offset-1">
                  <%= form_for(@ebook_user, :url => ebook_register_url, remote: true, :html => { :class => 'ebooks-form validate-form'} ) do |f| %>
                    <%= f.hidden_field :ebook_id, :value => @ebook.id  %>
                    <h3>Cadastre-se para baixar os papers</h3>
                    <fieldset>
                      <div class="form-group">
                         <%= f.label :name %>
                        <%= f.text_field :name, id: 'name', class: '', placeholder: model_class.human_attribute_name(:name) %>
                      </div>
                      <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, id: 'email', class: 'required', placeholder: model_class.human_attribute_name(:email)  %>
                      </div>
                      <div class="form-group">
                        <%= f.label :company %>
                        <%= f.text_field :company, id: 'company', class: '', placeholder: model_class.human_attribute_name(:company) %>
                      </div>
                      <div class="form-group">
                        <%= f.label :phone %>
                        <%= f.text_field :phone, id: 'phone', class: '', placeholder: model_class.human_attribute_name(:phone) %>
                      </div>
                      <div class="checkbox">
                        <label for="news"><%= f.check_box :accept_newsletter, :id => 'accept', :checked => true  %><%= model_class.human_attribute_name(:accept_newsletter) %></label>
                      </div>
                      <div class="checkbox">
                        <label for="propose"><%= f.check_box :accept_proposal, :id => 'accept', :checked => true  %><%= model_class.human_attribute_name(:accept_proposal) %></label>
                      </div>
                      
                      <% if @ebook_verify_robot %>
                      
                           <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
                            <div id="ebook-captcha" class="recaptcha_widget">
                              <div class="container-captcha" id="recaptcha_widget_ebook">
                                <div class="imagem" id="recaptcha_image">
                                </div>
                                <div class="recaptcha_input">
                                  <label for="recaptcha_response_field" class="recaptcha_only_if_image"><%= t "recaptcha.recaptcha_only_if_image" %>:</label>
                                  <label for="recaptcha_response_field" class="recaptcha_only_if_audio"><%= t "recaptcha.recaptcha_only_if_audio" %>:</label>
                                  <input id="recaptcha_response_field" type="text" name="recaptcha_response_field">
                                </div>
                                 <ul class="recaptcha_options">
                                  <li><a href="javascript:Recaptcha.reload()"><i class="glyphicon glyphicon-refresh"></i><span class="captcha_hide">Outro CAPTCHA</span></a></li>
                                  <li class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')"><i class="glyphicon glyphicon-volume-up"></i><span class="captcha_hide">CAPTCHA com audio</span></a></li>
                                  <li class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')"><i class="glyphicon glyphicon-picture"></i><span class="captcha_hide">CAPTCHA com imagem</span></a></li>
                                  <li><a href="javascript:Recaptcha.showhelp()"><i class="glyphicon glyphicon-question-sign"></i><span class="captcha_hide">Ajuda</span></a></li>
                                </ul>
                              </div>
                            </div>
                     
                        <% end %>
                        <%= f.submit t('ebook.register_button'), disable_with: t('helpers.submit.waiting') %> 
                    </fieldset>
                  <% end %>
                </div>
            <% end %>

          </div>
        </div>
      </div>
    </section>


