<% if cookies[:ebook_user].blank? %>
    $('.notifications').notify({
      type: 'notify',
      message: { text: "<%= j t('ebook.you_need_register') %>" },
      closable: false,
      fadeOut: {enabled: true, delay: 3000}
    }).show();

    $('a[href=#ebooks]').trigger('click');
      
<% else %>

    <% if flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>
      
      $('.notifications').notify({
        type: 'notify',
        message: { text: "<%= j flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>" },
        closable: false,
        fadeOut: {enabled: true, delay: 3000}
      }).show();

    <% end %>

  <% unless @ebook.nil? %>
    window.location = "<%= j thankyou_ebooks_url(@ebook.slug) %>";
  <% end %>
    
<% end %>


