
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=462545467122188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- .line-b -->
        <div class="line-b">
            <!-- .main-content -->
            <div class="main-content interna">
                    <h1 class="heading">Ebooks</h1>
                    <% if cookies[:ebook_user].blank?  %>
                    <%- model_class = EbookUser -%>
                    <div class="col-4">
                    <%= form_for(@ebook_user, :html => { :class => 'horizontal-form ebooks-form-index form-validate-default'} ) do |f| %>

                        

                        <fieldset>
                            <h3><%= t 'ebook.title_register' %></h3>

                             <% if @ebook_user.errors.any? %>
                              <div class="alert error">
                              <i class="exclamation"></i>
                                  <ul>
                                    <% @ebook_user.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                    <% end %>
                                  </ul>
                              </div>
                            <% end %>


                            <div class="col-one">
                                <%= f.text_field :name, id: 'name', class: '', placeholder: model_class.human_attribute_name(:name) %>
                                <%= f.text_field :email, id: 'email', class: 'required', placeholder: model_class.human_attribute_name(:email)  %>
                            </div>
                            <!-- /.col-one -->
                            <div class="col-two">
                                <%= f.text_field :company, id: 'company', class: '', placeholder: model_class.human_attribute_name(:company) %>
                                 <%= f.text_field :phone, id: 'phone', class: '', placeholder: model_class.human_attribute_name(:phone) %>
                            </div>
                            <!-- /.col-two -->
                            <div class="col-three">
                                <input type="submit" alt="" value="<%= t 'ebook.register_button' %>">
                            </div>
                            <!-- /.col-three -->
                            <label for="news" class="check-news"><%= f.check_box :accept_newsletter, :id => 'news', :checked => true  %> <%= model_class.human_attribute_name(:accept_newsletter) %></label>
                            <label for="proposal" class="check-news"><%= f.check_box :accept_proposal, :id => 'accept', :checked => true  %><%= model_class.human_attribute_name(:accept_proposal) %></label>
                        </fieldset>

                        <% unless !@ebook_verify_robot %>
                            <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
                            <div id="ebook-user-captcha"  class="recaptcha">
                                <div id="recaptcha_widget" class="container">
                                    <div class="imagem" id="recaptcha_image" ></div>
                                    <input type="text" name="recaptcha_response_field" id="recaptcha_response_field">
                                    <a href="javascript:Recaptcha.reload()" class="reload" id="reload-button">Reload</a>
                                </div>
                                <h2><%= t 'ebook.recaptcha_title' %></h2>
                                <p><%= t 'ebook.recaptcha_text' %></p>
                            </div>
                        <% end %>

                    <% end %>
                    <!-- /.horizontal-form -->


                   

                    <% end %>

                    <div class="books-container">
                    <% @ebooks.each do |ebook| %>
                        <div class="book">
                            <a href="<%= detail_ebook_path(ebook.slug) %>"><img src="<%= ebook.imagem %>" alt=""></a>
                            <p class="description"><%= ebook.titulo %></p>
                            <% unless ebook.pdf.blank? %>
                            <% unless cookies[:ebook_user].blank? %>
                                <a href="<%= thankyou_ebooks_path(ebook.slug) %>" class="actions save"><span>Download</span></a> 
                            <% else %>
                                <a href="<%= download_ebooks_path(ebook.slug) %>" class="actions save"><span>Download</span></a>
                            <% end %>
                                <a href="<%= detail_ebook_path(ebook.slug) %>" target="_blank" class="actions plus"><span>Mais</span></a> 
                            <% end %>
                        </div>
                    <% end %>    
                    </div>
                
            </div>
            <!-- /.main-content -->
        </div>
        <!-- /.line-b -->
