<% if @ebook_user.errors.any? %>
   <% @ebook_user.errors.full_messages.each do |msg| %>
    
        $('.notifications').notify({
          type: 'notify',
          message: { text: "<%= j msg %>" },
          closable: false,
          fadeOut: {enabled: true, delay: 3000}
        }).show();

   <% end %>
   Recaptcha.reload();
<% else %>

   $('#ebook-form').fadeOut(function(){
      <% if flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>
        
        $('.notifications').notify({
          type: 'notify',
          message: { text: "<%= j flash[:warning] || flash[:notice] || flash[:alert] || flash[:error] %>" },
          closable: false,
          fadeOut: {enabled: true, delay: 3000}
        }).show();

      <% end %>
   });
   $(".link-ebook").removeAttr("data-remote");

   $('#ebook-form').html('<%= j render "register" %>');
    ebook_captcha();

  <% unless @ebook.nil? %>
    window.location = "<%= detail_ebook_path(@ebook.slug) %>";
  <% end %>
    
<% end %>


