<%= render 'partials/menu_top_internal' %>

   <section class="internal">
      <div class="container">
        <h1 class="heading">E-books</h1>
        <div class="post ebook">
          <div class="row">
            <div class="col-md-6 col-sm-7">
              <div class="judo-tami"></div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="content-thanks">
                <h2><%= t 'ebook.thanks' %></h2>
                <h3><%= t 'ebook.yout_download_start_in_seconds' %></h3>
                <p><%= t 'ebook.if_you_have_problem' %>, <%= link_to t('ebook.click_here'), download_ebooks_path(params[:slug]), :taget => '_blank' %></p>
                <p><%= t('ebook.go_back_to')%> <%= link_to 'HOME', root_url %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script>
  $(document).ready(function(){
     setTimeout(function(){ window.location = "<%= @ebook.pdf.to_s %>"; },4000);
  });
</script>
