<!DOCTYPE html>
<html>
<%= render 'partials/header' %>
<body>
  <div class="notifications"></div>
  <%= render 'partials/google_plus' %>
  <%= yield %>

  <%= render 'partials/footer'%>

  <%= render "partials/login"%>
  <%= render "partials/google_remarketing"%>
  <%= render "partials/facebook_remarketing"%>
</body>
</html>